/* kommentar i CSS */
/* ta bort extra utrymme i body */
body {
    margin: 0;
}

/* footer i botten alltid */
main {
    flex: 1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;

}

.my-class {

    color: green;
}

#my-id {

    color: red;
}

.two-classes {

    color: rgb(255, 34, 176);
}

header {
    background-color: rgb(156, 125, 52);
    padding: 20px;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
}

header nav {
    margin-left: -12px;
}

header nav a {
    display: inline-block;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    /* change cursor */
    cursor: pointer;
}

header nav a:hover {
    color: #FFF;
}

header nav a.active {
    color: #FFF;
         
}

header nav a:active {
    color: rgb(200, 32, 32);
         
}

h1, h2 {

    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    line-height: 130%;
    margin: 0 auto;
    max-width: 650px;
}

main {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 130%;
    margin: 0 auto;
    max-width: 650px;

}

footer {
    background-color: rgb(156, 125, 52);
    padding: 20px;
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
}

footer p {
    margin: 5px;
    text-align: center;
}

.my-form {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}